<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.UserMapper">
	
	
	<insert id="userRegister">
		insert into users values(#{u_id}, #{u_passwd}, #{u_name}, #{u_phone},
		#{u_address}, #{u_author})

	</insert>

	<!-- 아이디 중복 검사 -->
	<select id="idCheck" resultType="int">

		select count(*) from users where u_id = #{u_id}

	</select>


	<!-- 로그인 -->
	<select id="userLogin" resultType="com.project.domain.UserVO">

		select u_id, u_passwd, u_name, u_phone, u_address from users where u_id =
		#{u_id} and u_passwd = #{u_passwd}
	</select>
	<!-- 회원정보 수정 -->
	<update id="modify">
	 	update users set
	 	u_passwd = #{u_passwd},
	 	u_phone = #{u_phone}, 
	 	u_address = #{u_address}
	 	where u_id = #{u_id}
	 </update>
	 
	 <!-- 회원정보 삭제 -->
	 <delete id="userDelete">
	 	delete from users where u_id = #{u_id}
	 </delete>
</mapper>